PORT=
DB_URL=
NODE_ENV=

BCRYPT_SALT_ROUND=
FRONTEND_URL=

#jwt
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=

#smtp
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

#super_admin
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
